* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header#site-header {
    height: 50px;
}

main {
    margin-top:60px;
    margin-bottom: 30px;

    #home-carousel {
        width: 80%;
        margin: auto;
        background-color: black;
        .custom-carousel img {
            width: 100%;
            aspect-ratio: 6/1;
             object-position: top;
            /* object-fit: cover; */
            object-fit: fill;
           margin-right: 30px;
        }
    }

    #carousel-preview {

        .custom-carousel img {
            aspect-ratio: 6/3;
            object-fit: cover;
            object-position: top;
        }
    }

    .carousel-cards-container { 
        div.card {
            margin-top: 10px;
            height: 360px;
            img {
                aspect-ratio: 6/3;
                width: 100%; 
                object-fit: contain;
                object-position: top;
            }
        }

    }
}

.card1 img {
    width: 90%px;   
    height: 150px;  
    object-fit: cover; 
    border-radius: 10px;
    margin-right: 4px;
}
 
 .card img {
  width: 250px;   
  height: 300px;  
  object-fit: cover; 
  border-radius: 10px; 
}

.button {
    display: flex;
    width: 100%;
    color: white;
    border: black 2px;
}

