{% extends 'base/base.html' %}
{% block title %}Appointment Details{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="card shadow-lg border-0 mx-auto" style="max-width: 600px;">
    <div class="card-header bg-primary text-white text-center">
      <h4>Appointment Details</h4>
    </div>
    <div class="card-body">
      <div class="mb-3">
        <strong>Patient:</strong> {{ appointment.patient.name }}
      </div>
      <div class="mb-3">
        <strong>Doctor:</strong> {{ appointment.doctor.full_name }}
      </div>
      <div class="mb-3">
        <strong>Date:</strong> {{ appointment.date }}
      </div>
      <div class="mb-3">
        <strong>Time:</strong> {{ appointment.time }}
      </div>
      <div class="mb-3">
        <strong>Status:</strong> 
        <span class="badge 
          {% if appointment.status == 'completed' %}bg-success
          {% elif appointment.status == 'cancelled' %}bg-danger
          {% else %}bg-warning text-dark{% endif %}">
          {{ appointment.get_status_display }}
        </span>
      </div>
      <div class="mb-3">
        <strong>Amount:</strong> 
        <p>Rs. {{appointment.total_amount}}</p>
      </div>
      {% if appointment.status == 'completed' %}
      <div class="mb-3">
        <strong>Diagnosis:</strong>
        <p class="text-muted">{{ appointment.diagnosis }}</p>
      </div>
      {% endif %}
      <hr>
      <div class="d-flex justify-content-between">
        
      {% if user.is_staff %}
        <a href="{% url 'edit_appointment' appointment.id %}" class="btn btn-outline-primary">
          <i class="bi bi-pencil"></i> Edit
        </a>
        <a href="{% url 'delete_appointment' appointment.id %}" class="btn btn-outline-danger">
          <i class="bi bi-trash"></i> Delete
        </a>
        {% endif %}
        <a href="{% url 'appointment_list' %}" class="btn btn-outline-secondary">Back</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
