<header id="site-header" class="fixed-top shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-1" data-bs-theme="dark">
    <div class="container">
      <!-- Brand -->
      <a class="navbar-brand fw-bold text-info fs-3" href="{% url 'home_page' %}">
        <i class="bi bi-hospital"></i> SaiClinic
      </a>

      <!-- Toggler -->
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Menu -->
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav mb-1 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active px-3" href="{% url 'home_page' %}"><i class="bi bi-house-door"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active px-3" href="{% url 'about_page' %}"><i class="bi bi-info-circle"></i> About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active px-3" href="{% url 'contact_page' %}"><i class="bi bi-telephone"></i> Contact</a>
          </li>

          <!-- SignIn Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle px-3" href="#" id="signinDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle"></i> 
              {% if user.is_authenticated %}
                {% if user.doctor_profile %}
                  {{user.doctor_profile.doctor.full_name}}
                {% else %}
                  {{user.username.capitalize}}
                {% endif %}
              {% else %}
                Accounts
              {% endif %} </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="signinDropdown">
              {% if user.is_authenticated %}
              <li>
                <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}

                  <button type="submit" class="dropdown-item">
                    Logout
                  </button>
                </form>
              </li>
              {% if not user.is_staff and not user.doctor_profile %}
              <li><a class="dropdown-item" href="{% url 'view_patients' %}">My Family</a></li>
              {% endif %}
              <li><a href="{% url 'appointment_list' %}" class="dropdown-item">My Bookings</a></li>
              {% else %}
              <li><a class="dropdown-item" href="{% url 'signin' %}">Login</a></li>
              <li><a class="dropdown-item" href="{% url 'signup' %}">Register</a></li>
              {% endif %}

            </ul>
          </li>

          <!-- Staff Operator Dropdown -->
          {% if user.is_staff %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white px-3" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi bi-person-gear"></i> Staff Operator
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="{% url 'carousels_page' %}">Carousel</a></li>
              <li><a class="dropdown-item" href="{% url 'view_doctor' %}">Doctors</a></li>
              <li><a class="dropdown-item" href="#">Manage Appointment</a></li>
            </ul>
          </li>
          {% endif %}


        </ul>

        <!-- Search Form -->
        <form class="d-flex" role="search">
          <input class="form-control me-2 rounded-pill" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success rounded-pill px-4" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>

<!-- Bootstrap Icons -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">